<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8"/>
        <title>{% block title %}Visy Admin Security{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {#
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        #}
        {% block css %}
            {% if 1 %}
                <link href="/css/admin/screen.css" type="text/css" rel="stylesheet"/>
            {% else %}
                {% stylesheets
                '@VisyVisyAdminBundle/Resources/public/scss/screen.scss'
                output='css/admin/screen.css' %}
                <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
                {% endstylesheets %}
            {% endif %}
        {% endblock %}

        {% block head_js %}{% endblock %}

        {% block head %}{% endblock %}

    </head>

    <body class="{{ app.request.locale }} security{% block body_class %} {% endblock %}">

        {% block body %}

            <div>

                {% block header %}{% endblock %}

                {% block stream %}
                    {% block main %}{% endblock %}
                {% endblock %}

            </div>

        {% endblock %}

        {% block body_js %}

            {% javascripts
            '@visy_admin_vendors_js'
            filter='?yui_js' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}

        {% endblock %}

    </body>

</html>
