body.has-navigation {
    padding-left: $nav-width;
}

#nav {
    position: fixed;
    top: 0; left: 0; bottom: 0;
    width: $nav-width;
    background: $nav-background-color;
    color: #E6E6E6;
}

#menu {
    margin: $nav-space-h 0;

    a {
        display: block;
        color: darken(#FFFFFF, 25%);
        text-decoration: none;

        &:hover {
            color: #FFFFFF;
        }
    }
    ul {
        list-style: none;
        margin: 0; padding: 0;
        line-height: 1.5em;

        li {
            $height: 1.5em;

            position: relative;
            margin: 0;
            padding: 1em $nav-space-v;
            border-bottom: 1px dotted lighten($nav-background-color, 15%);

            &.current {
                background-color: lighten($nav-background-color, 5%);

                /*
                &:after {
                    $size: (1.2 * $height);

                    position: absolute;
                    top: 0; right: 0;
                    width: 0;
                    height: 0;
                    border-top: $size solid transparent;
                    border-bottom: $size solid transparent;
                    border-right: $size solid #FFFFFF;
                    content: ' ';
                }
                */
            }
        }
    }

    > ul {
        > li {
            text-transform: uppercase;
        }
    }
}

#user {
    padding: 10px $nav-space-v;
    border-bottom: 1px solid lighten($nav-background-color, 10%);
}