
// Space
$space-v: 30px;
$space-h: 20px;

// Header
$header-height: 60px;

// Navigation
$nav-width: 200px;
$nav-space-h: 20px;
$nav-space-v: 20px;
$nav-background-color: #1E1E1E;

// Stream
$stream-margin-v: $space-v;

// Flash
$flash-height: 50px;